node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Gas reporter files
.gas-reports.json

# Hide CI workflow and automation scripts from contributors
.github/workflows/ci.yml
create_issues_contract.sh
issues_to_created_contract.md

